@import "tailwindcss";

@layer base{
    /* p{
        font-family: "Noto Sans";
    } */
}

@layer utilities{
    body{
        @apply bg-[#fafaf9] w-full overflow-x-hidden
    }

    .container{
        @apply px-4 w-full max-w-6xl mx-auto
    }

    section{
        @apply relative py-10 overflow-hidden
    }

    .font-sora{
        font-family: "Noto Sans";
    }

    .font-rubik{
        font-family: "Rubik";
    }

    .font-Playfair{
        font-family: "Playfair";
    }

    .up-reveal {
        /* @apply translate-y-20 opacity-0; */
    }

}